:root {
  --background-primary: #f5f2ea;
  --btn-primary: #fdc886;
  --btn-primary-hover: #f5cd9c;
  --overlay: #83838317;
  --font-default: 1.6rem;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: var(--background-primary);

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.navbar {
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120rem;
  max-width: 120rem;
  padding: 1.5rem;
  z-index: 4;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 500;
}

.menu li:last-child {
  padding: 1.4rem;
  border-radius: 0.5rem;
  background-color: var(--btn-primary);
  cursor: pointer;
  transition: all 0.4s;
}

.menu li:last-child:hover {
  background-color: var(--btn-primary-hover);
}

.menu a:link,
.menu a:visited {
  text-decoration: none;
  color: #000;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-left: 20rem;
}

.header .login {
  margin-top: 5rem;
  padding: 3rem;
  width: 45rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7f5f1;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
}

.login-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #303030;
}

.login-title p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #5a5a5a;
}

.login-form {
  height: 30rem;
}

.login-form form {
  display: flex;
  flex-direction: column;
  /* margin-top: 1rem; */
}

.login-form form span {
  font-size: 1.4rem;
  margin: 1.6rem 0rem 0.4rem 0rem;
  font-weight: 500;
  display: block;
  color: #5a5a5a;
}

.login-form form input {
  border: none;
  border-radius: 0.4rem;
  padding: 1.5rem 1rem;
  border: 1px solid #ebebeb;
  font-size: 1.4rem;
  font-weight: 500;
  color: #3a3a3a;
  outline: none;
}

.login-form form input:focus {
  border: 1px solid #f5cd9c;
}

.login-form form input::placeholder {
  font-size: 1.3rem;
  font-weight: 500;
  color: #686868;
}

.login-form .remember {
  margin: 1rem 0 2rem 0;
  display: flex;
  gap: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #303030;
}

.login-form form button {
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--btn-primary);
  color: #141414;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
}

.login-form form button:hover {
  background-color: #ffdbae;
}

.background-image img {
  width: 60rem;
  margin-top: 15rem;
  margin-left: -10rem;
}

.register {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.register p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #5a5a5a;
}

.register span {
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.2s ease;
  color: #303030;
}

.register span:hover {
  text-decoration: underline;
  color: var(--btn-primary-hover);
  cursor: pointer;
}

.menu-mobile {
  width: 25rem;
  height: 100vh;
  padding: 1rem;
  background-color: #fff1cb;
  opacity: 0;
  /* display: none; */
  position: absolute;
  right: -30rem;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.menu-mobile ul {
  list-style: none;
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.menu-mobile-item a {
  text-decoration: none;
  color: #141414;
  cursor: pointer;
}

.menu-mobile-item a:hover {
  color: #f5cd9c;
}

.menu-mobile-item a:visited {
  color: #303030;
}

.menu-mobile-item {
  padding: 1rem;
  /* background-color: #f5cd9c; */
  font-size: 1.6rem;
  font-weight: 500;
}

.menu-mobile-btn {
  padding: 1.4rem;
  border-radius: 0.5rem;
  background-color: var(--btn-primary);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  color: #3a3a3a;
}

.menu-mobile-btn:hover {
  background-color: var(--btn-primary-hover);
}

.menu-icon {
  display: none;
  width: 2.5rem;
  cursor: pointer;
  z-index: 5;
}

.overlay {
  width: 100%;
  height: 100%;
  /* background-color: var(--overlay); */
  backdrop-filter: blur(2px);
  position: absolute;
  display: none;
}

.open {
  display: block;
  right: 0;
  opacity: 1;
  z-index: 3;
}

.open-overlay {
  right: 0;
  display: block;
}

@media screen and (max-width: 1100px) {
  .background-image {
    display: none;
  }

  .header {
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    width: 90%;
  }
}

@media screen and (min-width: 601px) {
  .menu-mobile {
    display: none;
  }
  .overlay {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .menu ul {
    display: none;
  }

  .menu-icon {
    display: block;
    z-index: 15;
  }

  .menu .header {
    display: flex;
    margin: 0;
    /* z-index: -1; */
  }
}

@media screen and (max-width: 450px) {
  .header .login {
    background-color: transparent;
    border: 0;
  }
}
